.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 2px solid #eaeaea;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.subtitle {
  font-size: 14px;
  color: #555;
}

.nav-menu a {
  margin: 0 12px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.nav-menu a:hover {
  color: #1e90ff;
}

.practical-btn {
  background: none;
  border: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.practical-btn:hover {
  color: #00a3e0;
}

